In [1]:
import os
import glob
import pandas as pd
os.chdir("output")

In [2]:
extension = "csv"
all_filenames = [i for i in glob.glob("*.{}".format(extension))]

In [10]:
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])
combined_csv.reset_index(drop=True, inplace=True)
combined_csv["Lenguaje"] = combined_csv["Actividad"].apply(lambda x: "Python" if "Python" in x else "JS")
combined_csv["Intentada?"] = combined_csv["Descripción"].apply(lambda x: "Nel" if "Not Submitted" in x else "Simón")
combined_csv["Correcta?"] = combined_csv["Descripción"].apply(lambda x: "Nel" if "failed" in x else "Simón")
combined_csv = combined_csv[["Actividad", "Usuario", "Lenguaje", "Intentada?", "Correcta?", "Descripción"]]

In [20]:
result = pd.DataFrame(
    {
        "Act. Correctas": combined_csv.groupby(["Usuario"])["Correcta?"].apply(lambda x: x.str.contains("Si").sum()),
        "Act. Intentadas": combined_csv.groupby(["Usuario"])["Intentada?"].apply(lambda x: x.str.contains("Si").sum()),
        "Act. con Python": combined_csv.groupby(["Usuario"])["Lenguaje"].apply(lambda x: x.str.contains("Python").sum()),
        "Act. con JS": combined_csv.groupby(["Usuario"])["Lenguaje"].apply(lambda x: x.str.contains("JS").sum()),
    }
).reset_index()

In [21]:
result

,Usuario,Act. Correctas,Act. Intentadas,Act. con Python,Act. con JS
0,070919,0,1,0,1
1,AmilcarSerrano,1,1,1,0
2,Ange-lab,0,7,7,0
3,BryanPR,0,1,0,1
4,FabulousAlekey,6,7,0,7
5,Gerard49,5,8,0,8
6,Osvaldohb,5,6,0,6
7,RicardoGL10,1,2,1,1
8,SEVERO96,2,5,0,5
9,al169838DiegoAlmanza,0,4,4,0
10,cinti124,0,2,0,2
11,getmiranda,14,15,7,8
12,jorgeeuan,1,1,0,1
13,leon1495,0,1,0,1
14,lialburo,0,1,0,1
15,roeeyn,0,1,0,1
16,rolivaresar,14,14,6,8

In [22]:
result.to_csv( "reporte_final_para_pndjos_5ta_gen.csv", index=False, encoding='utf-8-sig')